<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>固定资产管理</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/simplePagination.css">
		<script src="../js/lib/vue.js"></script>
		<script src="../js/lib/jquery-3.1.1.js"></script>
		<script src="../js/lib/layer.js"></script>
		<script src="../js/lib/jquery.simplePagination.js"></script>
		<script src="../js/lib/jquery.validate.js"></script>
		<script src="../js/lib/loadingoverlay.js"></script>
		<script src="../js/conf.js"></script>
		<script src="../js/functions.js"></script>
		<script src="../js/index.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="search_panel">
				<div class="search_criteria">
					<label for="asset_tag">asset_tag</label>
					<input type="text" id="asset_tag" v-model="criteria.asset_tag" class="search_criteria_input" placeholder="F0201000041">
				</div>
				<div class="search_criteria">
					<label for="asset_state">asset_state</label>
					<input type="text" id="asset_state" v-model="criteria.asset_state" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="sn">sn</label>
					<input type="text" id="sn" v-model="criteria.sn" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="user">user</label>
					<input type="text" id="user" v-model="criteria.user" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="location">location</label>
					<input type="text" id="location" v-model="criteria.location" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="specific_location">specific_location</label>
					<input type="text" id="specific_location" v-model="criteria.specific_location" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="type">type</label>
					<input type="text" id="type" v-model="criteria.type" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="model">model</label>
					<input type="text" id="model" v-model="criteria.model" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="os">os</label>
					<input type="text" id="os" v-model="criteria.os" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="mac_wireless">mac_wireless</label>
					<input type="text" id="mac_wireless" v-model="criteria.mac_wireless" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="mac_wired">mac_wired</label>
					<input type="text" id="mac_wired" v-model="criteria.mac_wired" class="search_criteria_input">
				</div>
				<div class="search_criteria">
					<label for="remark">remark</label>
					<input type="text" id="remark" v-model="criteria.remark" class="search_criteria_input">
				</div>
			</div>
			<div id="main_buttons_container">
				<!--<button id="search_button" v-on:click="search">查询</button>-->
				<div id="search_button" v-on:click="search"><img class="main_buttons" src="../img/search.png">查询</div>
				<input type="checkbox" id="like" v-model="like"><label id="label_like" for="like">模糊查询</label>
				<select v-model="logic">
					<option >and</option>
					<option >or</option>
				</select>
				<span>查询逻辑</span>
				<button id="add_button" v-on:click="add_asset">新增</button>
			</div>
			<div id="result_panel">
				<table id="result_table">
					<tr id="result_table_header">
						<th class="result_table_header_th"></th>
						<th class="result_table_header_th"></th>
						<th class="result_table_header_th">asset_tag</th>
						<th class="result_table_header_th">asset_state</th>
						<th class="result_table_header_th">sn</th>
						<th class="result_table_header_th">user</th>
						<th class="result_table_header_th">location</th>
						<th class="result_table_header_th">specific_location</th>
						<th class="result_table_header_th">type</th>
						<th class="result_table_header_th">model</th>
						<th class="result_table_header_th">os</th>
						<th class="result_table_header_th">mac_wireless</th>
						<th class="result_table_header_th">mac_wired</th>
						<th class="result_table_header_th">remark</th>
					</tr>
					<tr v-for="asset in assets">
						<td class="result_table_td r_edit"><img class="operation_img" v-on:click="edit_asset" src="../img/edit_1.png" ></td>
						<td class="result_table_td r_del"><img class="operation_img" v-on:click="del_asset" src="../img/delete.png" ></td>
						<td class="result_table_td r_asset_tag">{{ asset.asset_tag }}</td>
						<td class="result_table_td r_asset_state">{{ asset.asset_state }}</td>
						<td class="result_table_td r_sn">{{ asset.sn }}</td>
						<td class="result_table_td r_user">{{ asset.user }}</td>
						<td class="result_table_td r_location">{{ asset.location }}</td>
						<td class="result_table_td r_specific_location">{{ asset.specific_location }}</td>
						<td class="result_table_td r_type">{{ asset.type }}</td>
						<td class="result_table_td r_model">{{ asset.model }}</td>
						<td class="result_table_td r_os">{{ asset.os }}</td>
						<td class="result_table_td r_mac_wireless">{{ asset.mac_wireless }}</td>
						<td class="result_table_td r_mac_wired">{{ asset.mac_wired }}</td>
						<td class="result_table_td r_remark">{{ asset.remark }}</td>
					</tr>
				</table>
				<div id="pagination_div">

				</div>
			</div>
			<div id="edit_panel" v-show="show_edit_panel"> 
				<form class="Form" id="form" method="" action="">
					<div class="each_field"><label for="e_asset_tag">asset_tag</label><input id="e_asset_tag" name="asset_tag" class="asset_tag" v-model="submit_asset.asset_tag"></div>
					<div class="each_field"><label for="asset_state">asset_state</label><input id="e_asset_state" name="asset_state" class="asset_state" v-model="submit_asset.asset_state"></div>
					<div class="each_field"><label for="e_sn">sn</label><input id="e_sn" name="sn" class="sn" v-model="submit_asset.sn"></div>
					<div class="each_field"><label for="e_user">user</label><input id="e_user" name="user" class="user" v-model="submit_asset.user"></div>
					<div class="each_field"><label for="e_location">location</label><input id="e_location" name="location" class="location" v-model="submit_asset.location"></div>
					<div class="each_field"><label for="e_specific_location">specific_location</label><input id="e_specific_location" name="specific_location" class="specific_location" v-model="submit_asset.specific_location"></div>
					<div class="each_field"><label for="e_type">type</label><input id="e_type" name="type" class="type" v-model="submit_asset.type"></div>
					<div class="each_field"><label for="e_model">model</label><input id="e_model" name="model" class="model" v-model="submit_asset.model"></div>
					<div class="each_field"><label for="e_os">os</label><input id="e_os" name="os" class="os" v-model="submit_asset.os"></div>
					<div class="each_field"><label for="e_mac_wireless">mac_wireless</label><input id="e_mac_wireless" name="mac_wireless" class="mac_wireless" v-model="submit_asset.mac_wireless"></div>
					<div class="each_field"><label for="e_mac_wired">mac_wired</label><input id="e_mac_wired" name="mac_wired" class="mac_wired" v-model="submit_asset.mac_wired"></div>
					<div class="each_field"><label for="e_remark">remark</label><input id="e_remark" name="remark" class="remark" v-model="submit_asset.remark"></div>
				</form>
				<div class="edit_buttons">
					<a href="#" class="save_button" v-on:click="save">保存</a>
					<a href="#" class="close_button" v-on:click="cancel_save">取消</a>
				</div>
			</div>
			<div id="modal-mask" v-show="show_modal_mask"></div>
		</div>
	</body>
</html>
